*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swal2-styled.swal2-confirm{
    background-color: #0b47a9 !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #0b48a979 !important;
}